@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');

.mono{
    font-family: 'Roboto Mono', monospace !important;
}

.algoritmos {
    margin-top: 20px;
    padding-left: 50%;
    margin:20px;
}