<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Markough</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/style/main.css">
</head>

<body>
    <div class="container mono">
        <div class="row mt-2">
            <div class="col text-center">
                <h1>markough</h1>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col">
                <div class="input-group">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="tos-file">
                        <label class="custom-file-label" for="tos-file">Elige un archivo</label>
                    </div>
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button" id="test-button">Testear</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>