<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Markough</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/style/main.css">
</head>

<body>
    <div class="container mono">
        <div class="row mt-2">
            <div class="col text-center">
                <h1>markough</h1>
            </div>
        </div>
        <form method="POST" action="/" enctype="multipart/form-data">
            <div class="row mt-2">
                <div class="col">
                    <div class="input-group">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="tos-file" name="file">
                            <label class="custom-file-label" for="tos-file">Elige un archivo</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container col text-center mt-4">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="algs" id="alg1" value="alg1" checked>
                    <label class="form-check-label" >
                    Algoritmo 1
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="algs" id="alg2" value="alg2">
                    <label class="form-check-label">
                        Algoritmo 2
                    </label>
                </div>
                <button class="btn btn-outline-secondary mt-4" type="submit" id="test-button">Testear</button>
            </div>
        </form>
    </div>
</body>

</html>